# Server Configuration
PORT=7877
APP_NAME=message-service

# Eureka Server
EUREKA_URL=http://eureka-server:8761/eureka

# Database Configuration
MONGODB_URL=mongodb://mongodb-user:mongodb-pass@mongodb-host:27017/maintenance_service

# Redis Configuration
# Use 'redis' if running inside Docker Compose, otherwise use 'localhost'
REDIS_HOST=redis
REDIS_PORT=6379

# Security
JWT_SECRET_KEY=your_super_secret_random_key_here
