EUREKA_URL=http://your-eureka-link:8761/eureka
PORT=7877
JWT_SECRET_KEY=strong-password
MONGODB_URL=mongodb://user:password@ip:port/message_database?authSource=message_database
REDIS_HOST=localhost
REDIS_PORT=6379